@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}

@theme {
    --color-brand-primary: #15cfe2;
    --color-brand-dark: black;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/*Font and Texts*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

h1 {
    font-size: clamp(2.25rem, 1.1786rem + 2.6786vw, 3.75rem);
}

h2 {
    font-size: clamp(1.875rem, 1.6071rem + 0.6696vw, 2.25rem);
}

h3 {
    font-size: 1.875rem;
}

p {
    color: rgb(71, 85, 105);
}

/*Global classes*/
.cssContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/*Component classes*/
.card-body {
    flex: none;
    gap: 0;
}
